body{
  background-color: black;
  overflow: hidden;
}

.star{
  width: 5px;
  height: 5px;
  color: white;
  font-size: 0px;
  border-radius: 50%;
  position: absolute;
  background: url("./images/starImg.gif") no-repeat 0 0 / cover;
}
.word{
  color: white;
  font-size: 5px;
  position: absolute;
}
.word:hover{
  cursor: grab;
}

.description{
  color: white;
  float: left;
}
.choose_list{
  display: flex;
  float: right;
  color: white;
  list-style: none;
  margin: 20px;
}
.check_word{
  margin: 3px;
  position: relative;
}
.cancel{
  /* border-radius: 10px; */
  width: 15px;
  height: 15px;
  /* font-size: 5px; */
  /* color: white; */
  position: absolute;
  top: -5px;
  right: -12px;
  background: url(./images/cancel_img.png) no-repeat 0 0 / cover;
}